<% if !@order.nil? && @order.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @orders.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @orders.each do |order| %>
    <%= render 'carts/cart_row', product: order.product, order: order, show_total: true %>
  <% end %>
<% end %>